<a href="https://colab.research.google.com/github/Sharlene20/Sharlene/blob/main/MyPython22102021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date: 10-22-2021

Name: Sharlene Angela L. Mercado

In [9]:
def sum(s1, s2, s3):
    result = 0
    for s in range (s1, s2, s3):
        result += s
    return result

def main():
    print("Sum from 9 to 18", sum(9, 19, 1))
    print("Sum from 29 to 38", sum(29, 39,2))
    print("Sum from 49 to 58", sum(49, 59, 3))

main() # Call the main function

Sum from 9 to 18 135
Sum from 29 to 38 165
Sum from 49 to 58 214

In [6]:
def swap(r,s):
  r,s = s,r
  return (r,s)

if __name__ == '__main__':
    r = 99
    s = 79
    print('r = %d,s = %d' % (r,s))
    r,s = swap (r, s)
    print('r = %d,s = %d' % (r,s))

r = 99,s = 79
r = 79,s = 99

In [10]:
def sort(number19, number29, number39):
        if (number19 < number29) and (number19 < number39):
          if number29 < number39:
                return number19, number29,number39
          else:
                return number19, number29,number39
          if (number29 < number19) and (number29 < number39):
           if number19 < number39:
                 return number29, number19,number39
           else:
                 return number29, number39,number19
          if (number39 < number19) and (number39 < number29):
            if number19 < number29:
                 return number39, number19,number29
          else:
                 return number39, number29,number19

num1, num2, num3 = sort( 99, 199, 299)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 99
num2 is 199
num3 is 299

In [11]:
def sort(number19, number29):
    if number19 < number29:
        return number19, number29
    else:
        return number29, number19

num19, num29 = sort(99, 399 )

print("num19 is", num19)
print("num29 is", num29)

num19 is 99
num29 is 399

In [12]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 89, height = 99):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

**Use Default Arguments**

In [13]:
printArea()

width: 89 	height: 99 	area: 8811

**Use Keyword Argument**

In [14]:
printArea(width = 89, height = 99)

width: 89 	height: 99 	area: 8811

In [15]:
printArea(width = 99, height = 89)

width: 99 	height: 89 	area: 8811

**Use Positional Arguments**

In [16]:
printArea(199,299)

width: 199 	height: 299 	area: 59501

In [17]:
printArea(299,199)

width: 299 	height: 199 	area: 59501

**Lambda Function**

In [18]:
s1 = lambda e, f, g: e+9*f+99*g
print(s1(9,99,999))

99801

In [19]:
def myfunc(r):
  return r*r

my_list = [9, 18, 27, 36, 45]

print(list(map(lambda x:myfunc(x), my_list)))

[81, 324, 729, 1296, 2025]